
body {
background: url('Perfumeback.JPG'); /* Replace 'your-image.jpg' with your image file path */
background-size: cover;
}
h2 {font-family: 'Crimson Text', serif;
    font-weight: 600;
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.89);
    font-size: 17rem;
    line-height: 1.2;
    padding-top: 3.6rem /*!main_margin*/;
    padding-bottom: 3.6rem /*!main_margin*/;
    padding-left: 3.6rem /*!main_margin*/;
    padding-right: 3.6rem /
    }
h3{
    font-family: 'Exo', sans-serif;
font-family: 'Pacifico', cursive;
color: white;
    font-size: 2rem;
      text-align: right;
}
/* Define the initial styles for the text */
h2{
    transition: all 0.3s; /* Add a smooth transition effect */
}
marquee{
   font-family: 'Exo', sans-serif;
   color:white;
   font-size: 1.5rem;
}

/* Define the hover styles for the text */
h2:hover {
    color: #fff; /* Change the text color to white on hover */
    text-shadow: 0 0 10px yellow; /* Add a yellow outline glow */
}
#image{
    width: 440px; /* Set the container width as per your requirements */
    height: 440px; /* Set the container height as per your requirements */
    position: absolute;
    top: 1500px; /* Position from the top (adjust as needed) */
    left: 0px;
}
#image:hover, .shakeimg:hover {
         animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -moz-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -webkit-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -o-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         transform:translate3d(0,0,0); 
         backface-visibility:hidden; 
         perspective:1000px;
      }

      @keyframes shake { 
         10%, 90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }

      @-webkit-keyframes shake { 
         10%, 90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }

      @-moz-keyframes shake {
         10%,90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }
#image1{
    width: 350px; /* Set the container width as per your requirements */
    height: 350px; /* Set the container height as per your requirements */
    position: absolute;
    top: 1550px; /* Position from the top (adjust as needed) */
    left: 300px;
}
#image1:hover, .shakeimg:hover {
         animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -moz-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -webkit-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -o-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         transform:translate3d(0,0,0); 
         backface-visibility:hidden; 
         perspective:1000px;
      }

      @keyframes shake { 
         10%, 90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }

      @-webkit-keyframes shake { 
         10%, 90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }

      @-moz-keyframes shake {
         10%,90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }
#image2{
    width: 320px; /* Set the container width as per your requirements */
    height: 350px; /* Set the container height as per your requirements */
    position: absolute;
    top: 1170px; /* Position from the top (adjust as needed) */
    left: 600px;
}
#image2:hover, .shakeimg:hover {
         animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -moz-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -webkit-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -o-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         transform:translate3d(0,0,0); 
         backface-visibility:hidden; 
         perspective:1000px;
      }

      @keyframes shake { 
         10%, 90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }

      @-webkit-keyframes shake { 
         10%, 90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }

      @-moz-keyframes shake {
         10%,90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }
#image3{
    width: 280px; /* Set the container width as per your requirements */
    height: 320px; /* Set the container height as per your requirements */
    position: absolute;
    top: 1580px; /* Position from the top (adjust as needed) */
    left: 900px;
}
#image3:hover, .shakeimg:hover {
         animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -moz-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -webkit-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -o-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         transform:translate3d(0,0,0); 
         backface-visibility:hidden; 
         perspective:1000px;
      }

      @keyframes shake { 
         10%, 90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }

      @-webkit-keyframes shake { 
         10%, 90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }

      @-moz-keyframes shake {
         10%,90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }
#image4{
    width: 270px; /* Set the container width as per your requirements */
    height: 300px; /* Set the container height as per your requirements */
    position: absolute;
    top: 1580px; /* Position from the top (adjust as needed) */
    left: 1200px;

}
#image4:hover, .shakeimg:hover {
         animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -moz-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -webkit-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -o-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         transform:translate3d(0,0,0); 
         backface-visibility:hidden; 
         perspective:1000px;
      }

      @keyframes shake { 
         10%, 90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }

      @-webkit-keyframes shake { 
         10%, 90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }

      @-moz-keyframes shake {
         10%,90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }
#image6{
    width: 300px; /* Set the container width as per your requirements */
    height: 300px; /* Set the container height as per your requirements */
    position: absolute;
    top: 1200px; /* Position from the top (adjust as needed) */
    left: 50px;
}
#image6:hover, .shakeimg:hover {
         animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -moz-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -webkit-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -o-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         transform:translate3d(0,0,0); 
         backface-visibility:hidden; 
         perspective:1000px;
      }

      @keyframes shake { 
         10%, 90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }

      @-webkit-keyframes shake { 
         10%, 90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }

      @-moz-keyframes shake {
         10%,90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }
#image7{
    width: 300px; /* Set the container width as per your requirements */
    height: 300px; /* Set the container height as per your requirements */
    position: absolute;
    top: 1200px; /* Position from the top (adjust as needed) */
    left: 320px;

}
#image7:hover, .shakeimg:hover {
         animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -moz-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -webkit-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -o-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         transform:translate3d(0,0,0); 
         backface-visibility:hidden; 
         perspective:1000px;
      }

      @keyframes shake { 
         10%, 90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }

      @-webkit-keyframes shake { 
         10%, 90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }

      @-moz-keyframes shake {
         10%,90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }
#image8{
    width: 300px; /* Set the container width as per your requirements */
    height: 300px; /* Set the container height as per your requirements */
    position: absolute;
    top: 1580px; /* Position from the top (adjust as needed) */
    left: 620px;

}
#image8:hover, .shakeimg:hover {
         animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -moz-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -webkit-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -o-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         transform:translate3d(0,0,0); 
         backface-visibility:hidden; 
         perspective:1000px;
      }

      @keyframes shake { 
         10%, 90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }

      @-webkit-keyframes shake { 
         10%, 90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }

      @-moz-keyframes shake {
         10%,90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }
#image5{
    width: 300px; /* Set the container width as per your requirements */
    height: 300px; /* Set the container height as per your requirements */
    position: absolute;
    top: 1200px; /* Position from the top (adjust as needed) */
    left: 920px;

}
#image5:hover, .shakeimg:hover {
         animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -moz-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -webkit-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -o-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         transform:translate3d(0,0,0); 
         backface-visibility:hidden; 
         perspective:1000px;
      }

      @keyframes shake { 
         10%, 90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }

      @-webkit-keyframes shake { 
         10%, 90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }

      @-moz-keyframes shake {
         10%,90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }
#image9{
    width: 350px; /* Set the container width as per your requirements */
    height: 350px; /* Set the container height as per your requirements */
    position: absolute;
    top: 1190px; /* Position from the top (adjust as needed) */
    left: 1170px;
}#image9:hover, .shakeimg:hover {
         animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -moz-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -webkit-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         -o-animation:shake .82s cubic-bezier(.36,.07,.19,.97) both; 
         transform:translate3d(0,0,0); 
         backface-visibility:hidden; 
         perspective:1000px;
      }

      @keyframes shake { 
         10%, 90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }

      @-webkit-keyframes shake { 
         10%, 90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }

      @-moz-keyframes shake {
         10%,90% { transform:translate3d(-1px,0,0) }
         20%, 80% { transform:translate3d(2px,0,0) }
         30%, 50%, 70% { transform:translate3d(-4px,0,0) }
         40%, 60% { transform:translate3d(4px,0,0) }
      }

