h1{
	font-size: 2.7rem;
	color: rgba(0, 0, 0, 0.85);
	font-family: Courier, "Courier New", monospace, Courier, Icons;
	line-height: 1.1;
	font-style: normal;
	font-weight: 50;
}
body {
background: url('back1.PNG'); /* Replace 'your-image.jpg' with your image file path */
background-size: cover;
}
div{font-size: 1.0rem;
	color: rgba(0, 0, 0, 0.85);
	font-family: Courier, "Courier New", monospace, Courier, Icons;
	line-height: 1.;
	font-style: normal;
	font-weight: 40;
	text-align: left 
	margin: 0;
    width: 50%;
    float: left;
}
h2{font-family: 'Cormorant', serif;
font-family: 'Crimson Text', serif;}

.image-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.image-container img {
    width: 100%; /* Set the image to take up the entire container */
    transition: all 0.3s; /* Add a smooth transition effect */
}

.image-container:hover img {
    filter: grayscale(100%); /* Convert the image to grayscale on hover */
}
.image-container img {
    width: 50%;
}
#image2{
	width:40%;
}
#image3{
	width:30%;
}
#image4{
	width:30%;
